@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pangolin', cursive;
}
body{
    color: rgb(255, 255, 255);
    background: black;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 10%;
    background: rgb(217, 86, 35);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    transition: .3s ease;
    opacity: 0.8;
}
.header:hover{
    opacity: 1;
}
.logo{
    font-size: 38px;
    color: bisque;
    font-weight: 700;
    filter: drop-shadow(5px 0 5px rgb(0, 0, 0));
}

.main{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: auto;
    transition: .3s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}

.div-home{
    display: flex;
    height: 100vh;
    width: 200%;
}

.home{
    position: relative;
    left: -50%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-content h2{
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.home-content p {
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.home-content div{
    margin-top: 15px;
    margin-bottom: 30px;
}
.start-btn{
    width: 200px;
    height: 50px;
    background: transparent;
    box-shadow: none;
    border: 2px solid white;
    border-radius: 6px;
    outline: none;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .5s;
}
.start-btn:hover{
    background: rgb(227, 122, 52);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}   

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 600px;
    background: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.popup h2{
    font-size: 50px;
    color: rgb(227, 122, 52);
}
.popup li{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}
.popup .popup-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}
.popup .popup-btns .btns{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background:rgb(227, 122, 52);
    border: 2px solid black;
    outline: none;
    color: black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    transition: .5s;
}
.popup .popup-btns .btns:nth-child(1){
    background: transparent;
    color: rgb(227, 122, 52);
}
.popup .popup-btns .btns:nth-child(1):hover{
    background: rgb(227, 122, 52);
    color: black;
}
.popup .popup-btns .btns:nth-child(2):hover{
    background: rgb(192, 88, 19);
}

.quiz-section{ 
    position: relative;
    left: -50%;
    width: 100%;
    background: #00001d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 4;
}
.quiz-section.active{
    left: 0;
}

.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid rgb(130, 139, 242);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}
.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,transparent,rgb(130,139,242),transparent);
    border-radius: 6px;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 2px solid rgb(130, 139, 242);
}
.quiz-header span{
    font-size: 20px;
    font-weight: 500;
}
.quiz-header .header-score{
    background: rgb(9, 26, 111);
    border-radius: 4px;
    padding: 7px;
}
.quiz-box .ques-text{
    font-size: 25px;
    font-weight: 600;
}
.quiz-options .options{
    width: 100%;
    padding: 14px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,.2);
    font-size: 18px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}
.quiz-options .options:hover{
    background: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
}

.quiz-options .options.correct{
    border: 2px solid darkgreen;
    color: darkgreen;
}
.quiz-options .options.incorrect{
    border: 2px solid rgb(191, 17, 17);
    color: rgb(191, 17, 17);
}
.quiz-options .options.disabled{
    pointer-events: none;
}

.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(130, 139, 242);
    padding-top: 20px;
    margin-top: 20px;
}

.quiz-footer .ques-total{
    font-size: 18px;
    font-weight: 600;
}
.quiz-footer .next-btn{
    width: 110px;
    height: 40px;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255,255,255,.1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255,255,255,.3);
    font-weight: 600;
    pointer-events: none;
    cursor: pointer;
    transition: .5s;
}
.quiz-footer .next-btn.active{
    pointer-events: auto;
}
.quiz-footer .next-btn:hover{
    background: rgb(130,139,242);
    background-color: rgb(130,139,242);
    color: white;
}

.quiz-section .result{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease ;
}
.quiz-section .result.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.result h2{
    font-size: 55px;
}
.result .percentage{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}
.percentage .progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#4b00c4 3.6deg,rgba(255,255,255,.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage .progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #00001d;
    border-radius: 50%;
}

.progress .progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}
.percentage .score-text{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.result .buttons{
    display: flex;
}

.buttons button{
    width: 100px;
    height: 45px;
    background: rgb(135, 130, 238);
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    font: 1.5rem;
    font-weight: 600;
    margin: 0 50px 20px;
    cursor: pointer;
    transition: .3s;
}
.buttons button:nth-child(2){
    background: transparent;
    color: rgb(130, 144, 238);
    border-color: rgb(130, 134, 238);
}
.buttons button:nth-child(2):hover{
    background: rgb(134, 130, 238);
    color: black;
    border-color: black;
}
